<%- include('partials/header') %>
<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">Hello, world!</h1>
    <h3>Welcome in School Application</h3>
    <p class="lead">This is a simple school App, In here you can see all data of teachers, students, and subjects.</p>
    <hr class="my-4">
    <p>Now you can choose what data will you see in here.</p>
    <a class="btn btn-primary btn-lg" href="/students" role="button">Students</a> <a class="btn btn-primary btn-lg" href="/teachers" role="button">Teachers</a> <a class="btn btn-primary btn-lg" href="/subjects" role="button">Subjects</a>
    </div>  
</div>
<%- include('partials/footer') %>  